h1{
    color:white;
    background-image: url(../images//background.jpg);
}

.test{
    color: black;
    padding: 5% 2%;
    margin: 10%;
    border: 2px dotted black;
    border-radius: 50px 150px;
    background-color: rgb(154, 185, 96);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: larger;
}
